/* Custom Stuff */

#navigator-toolbox > * {
    background-color: #222;
}

.tab-background[selected="true"] {
    background-image: none !important;
}

#tabbrowser-tabs { margin-top: 5px !important; margin-left: 10px !important; margin-right: 5px !important;}

.titlebar-buttonbox { margin-top: 4px !important; /*margin-right: 6px !important;*/ }

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
    min-height: 0px !important;
    max-height: 0px !important;
    margin-bottom: -1px !important;
    margin-top: 0px !important;
    transition: all 200ms ease 150ms !important;
    z-index: -1 !important;
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
    min-height: 40xpx !important;
    max-height: 40px !important;
    margin-bottom: -41px !important;
    margin-top: 0px !important;
    transition: all 200ms ease 0ms !important;
    z-index: 1 !important;
}

#back-button, #back-button > .toolbarbutton-icon {
    transform: scale(.95,.95) !important; 
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.tabbrowser-tab::before, .tabbrowser-tab::after { display: none !important; }

#PanelUI-button {
    border-image-slice: 0 !important;
    margin-left: -8px !important;
}

#forward-button,
#tabs-newtab-button,
#pageActionButton,
#identity-icon-box,
#tracking-protection-icon-container,
#identity-box,
.titlebar-spacer
{ display: none; }

#back-button {
  background-color: none !important;
}

#urlbar-input { margin-left: 10px !important; }
#urlbar-background { background-color: #333 !important; border: none !important;}

.tabbrowser-tab[fadein]{ max-width: 100vw !important }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/combined_favicon_and_tab_close_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show tab close button when cursor is over the tab icon */

.tab-close-button{
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  position: relative;
  margin-right: -18px !important;
  z-index: -1;
  visibility: hidden;
}
.tabbrowser-tab[pinned] .tab-close-button{ display: none !important; }
.tab-close-button:hover{ background-color: var(--lwt-accent-color); }

.tabbrowser-tab[selected] .tab-close-button:hover{ background-color: var(--lwt-selected-tab-background-color, var(--toolbar-bgcolor)); }

/**** ONLY USE ONE OF THE FOLLOWING ****/
/**** These select the behavior of a scenario where the page has no favicon ****/

/*** Option 1 - no favicon - no close-button ***/

/*
.tab-icon-image:hover ~ .tab-close-button, .tab-close-button:hover{ visibility: visible; z-index: 1 }
*/

/*** Option 2 - No icon - always show close-button ***/


.tab-icon-image:hover ~ .tab-close-button,
.tab-close-button:hover,
.tab-icon-image:not([src]) ~ .tab-close-button{ visibility: visible; z-index: 1 }
.tab-icon-image:not([src]) ~  .tab-close-button{ margin-right:0px !important; }

/*** Option 3 - No icon - show close-button when cursor is over the tab text ***/

.tab-icon-image:hover ~ .tab-close-button,
.tab-close-button:hover,
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button{ visibility: visible; z-index: 1 }
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button,
.tab-icon-image:not([src]) ~  .tab-close-button:hover {margin-right: 0px !important; }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/round_ui_items.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Make bunch of things in the main UI round */

:root{ --toolbarbutton-border-radius: 24px !important }
#urlbar-input-container > box:hover,
#urlbar-input-container > box[open],
#main-menubar >  menu,
.titlebar-button:hover,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button,
.close-icon > image,
#page-action-buttons > :hover,
.panel-arrowcontent,
.urlbarView-row-inner,
.search-one-offs button,
.subviewbutton-back,
.toolbaritem-combined-buttons > toolbarbutton,
#PopupSearchAutoComplete,
menupopup{ border-radius: 18px }

button,
.tab-background { border-radius: 30px !important; padding: -5px !important;}

.panel-arrowcontent{ margin-inline-end: 0 !important; }
.panel-arrow{ margin-inline: 17px !important; }

menupopup{ -moz-appearance: none !important; overflow: -moz-hidden-unscrollable !important; }

.tabbrowser-tab[selected]::after,
.tabbrowser-tab[beforeselected-visible]::after{ border-color: transparent !important; }

#nav-bar{ box-shadow: none !important; margin-top: 3px }
.tab-line{ display: none }

.tab-background[selected]{ border-top-width: 2px !important; border-top-color: var(--tab-line-color) !important; }
.tabbrowser-tab[selected]{ z-index: auto !important; }

.urlbar-icon,
toolbar toolbarbutton:not(#back-button):not(.bookmark-item):not(.titlebar-button) > .toolbarbutton-icon{  border-radius: 0px !important; clip-path: circle() }

menugroup:hover > menuitem{ clip-path: circle() }
